/* utility classes */
.btn {
  font-size: 0.9rem;
  padding: 12px 15px;
}

/* navbar section */
#navbar .logo {
  text-align: center;
  padding: 15px 20px;
  float: none;
}

#navbar ul,
#navbar ul li {
  float: none;
}

#navbar li a {
  text-align: center;
  padding: 10px;
}

/* showcase content */
#showcase .container {
  width: 95%;
}

#showcase .showcase-content .title-heading {
  font-size: 2.7rem;
  padding-bottom: 10px;
}

#showcase .showcase-content .description {
  font-size: 1.08rem;
  padding-bottom: 40px;
}

/* history section */
#history .history-content {
  padding-top: 30px;
  padding-bottom: 60px;
}

#history .history-content .title-heading {
  font-size: 2.4rem;
  padding-bottom: 5px;
}

#history .history-content .description {
  font-size: 0.9rem;
  padding: 10px 45px 40px 45px;
  padding-left: 10px 45px;
  line-height: 1.7;
  text-align: justify;
  text-align-last: center;
}

/* features section */
#features .feature-box {
  float: none;
  width: 100%;
  padding: 25px 0 10px 0;
  border: none;
  border-bottom: 0.7px solid #f4f1ec;
  /* border-bottom: 0.5px solid white; */
}

#features .title-heading {
  font-size: 1.05rem;
}

#features .description {
  font-size: 0.9rem;
}

/* about page */
#about-info .container .title-heading {
  font-size: 2.7rem;
  text-align: center;
}

#about-info .container .description {
  font-size: 0.9rem;
  text-align: center;
}

#about-info .container .info-left {
  float: none;
  width: 100%;
  padding: 30px 35px 40px 35px;
}

#about-info .container .info-right {
  float: none;
  width: 100%;
  padding: 0;
}

#about-info .container .info-right img {
  width: 90%;
}

/* testimonials section */
#testimonials {
  margin-top: 60px;
  padding-bottom: 0;
}

#testimonials .container {
  padding: 0;
}

#testimonials .title-heading {
  font-size: 2.5rem;
  padding: 40px 30px 20px 30px;
}

#testimonials .testimonial {
  padding: 20px 0;
  text-align: center;
}

#testimonials .testimonial .description {
  float: none;
  width: 100%;
  font-size: 0.9rem;
  padding: 20px 50px;
  margin: 0;
  text-align: justify;
  text-align-last: center;
}

#testimonials img {
  width: 120px;
  margin: auto;
}

/* contact page */

#contact-us .contact-form label {
  font-size: 1rem;
}

#contact-us .title-heading {
  font-size: 2rem;
}

#contact-us .description {
  font-size: 0.9rem;
}

/* footer section */
#main-footer .description {
  font-size: 0.8rem;
}
