/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* element styling */
a {
  text-decoration: none;
  color: white;
}

/* utility classes */
.btn {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.1rem;
  background-color: #333;
  color: white;
  padding: 12px 15px;
  border: none;
}

.btn:hover {
  background-color: #444;
  color: #f7c08a;
  cursor: pointer;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.clear {
  clear: both;
}

.title-heading {
  font-family: "Cormorant SC", serif;
  font-weight: 700;
}

.description {
  font-family: "Cormorant Garamond", serif;
  font-weight: 100;
}

/* navbar section */
#navbar {
  background-color: #333;

  /* understand how this works */
  overflow: auto;
}

#navbar .logo {
  float: left;
  padding: 15px 20px;
}

#navbar .logo a:hover {
  color: #f7c08a;
}

#navbar ul {
  list-style-type: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar li a {
  display: block;
  padding: 20px;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background-color: #444;
  color: #f7c08a;
}

/* showcase section */
#showcase {
  background-image: url(../img/hotel-image1.jpg);
  background-size: cover;
  background-position: 65%;
  background-repeat: no-repeat;
  height: 100%;
}

#showcase .container {
  width: 80%;
  height: 20%;
  padding-top: 420px;
}

#showcase .showcase-content {
  text-align: center;
  padding-bottom: 50px;
}

#showcase .showcase-content .title-heading {
  color: white;
  font-size: 3.5rem;
  padding-bottom: 15px;
}

#showcase .showcase-content .description {
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  padding-bottom: 50px;
}

/* history section */
#history .history-content {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 100px;
}

#history .history-content .title-heading {
  font-size: 3rem;
  padding-bottom: 15px;
}

#history .history-content .description {
  font-size: 1rem;
  line-height: 2rem;
  padding: 10px 80px;
  padding-bottom: 60px;
}

/* features section */
#features .feature-box {
  width: 33.33%;
  float: left;
  text-align: center;
  padding: 80px 40px;
  background-color: #dfe4e4;
  border: 0.5px solid white;
}

#features .description {
  font-size: 1rem;
  padding: 15px;
}

#features .title-heading {
  margin-top: 20px;
}

/* about page */
#about-info .container .title-heading {
  font-size: 3rem;
  padding-bottom: 20px;
}

#about-info .container .description {
  line-height: 1.6rem;
  font-size: 1.05rem;
}

#about-info .container .info-right img {
  width: 75%;
  display: block;
  margin: auto;
}

#about-info .container .info-left {
  float: left;
  width: 50%;
  padding: 80px 20px 0 60px;
}

#about-info .container .info-right {
  width: 50%;
  float: right;
  padding-top: 80px;
}

/* testimonials */
#testimonials {
  margin-top: 90px;
  padding-bottom: 50px;
  background-color: #edf2f4;
}

#testimonials .container {
  padding: 0px 60px;
}

#testimonials .title-heading {
  font-size: 2.7rem;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  color: #424546;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 10px;
  text-decoration-color: #c5ced1;
}

#testimonials .testimonial {
  height: 100%;
  padding: 50px 0;
  border-bottom: 1px solid white;
}

#testimonials .testimonial .description {
  float: right;
  width: 50%;
  font-size: 1.02rem;
  padding: 10px;
  margin-right: 15%;
  line-height: 1.5;
}

#testimonials img {
  width: 150px;
  border-radius: 50%;
  margin-left: 15%;
}

/* contact page */
#contact-us .container {
  padding: 50px;
}

#contact-us .contact-form label {
  font-size: 1.2rem;
  display: block;
  padding-bottom: 5px;
}

#contact-us .contact-form input,
#contact-us .contact-form textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid lightgray;
}

#contact-us .contact-form input:focus,
#contact-us .contact-form textarea:focus {
  outline: none;
}

#contact-us .contact-form .form-group {
  padding: 10px 0;
}

#contact-us .title-heading {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

#contact-us .description {
  font-size: 1.02rem;
  padding-bottom: 20px;
}

/* footer section */
#main-footer {
  background-color: #333;
  text-align: center;
}

#main-footer .description {
  color: white;
  padding: 20px;
  font-size: 0.5rem;
}
